nav(class="navbar navbar-expand-md navbar-dark bg-dark")
    div(class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2")
        ul(class="navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" href="/users") Users
            li(class="nav-item")
                a(class="nav-link" href="/about") About
    div(class="mx-auto order-0")
        a(class="navbar-brand mx-auto" href="/") Home
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2")
            span(class="navbar-toggler-icon")
    div(class="navbar-collapse collapse w-100 order-3 dual-collapse2")
        ul(class="navbar-nav ml-auto")
            li(class="nav-item")
                a(class="nav-link" href="/logout") Logout