extends layout
 
block content
  div(class="wrapper")
    div(class="form-signin")
      h1= title
      if error 
        div(class="alert alert-danger" role='alert') #{error}
      form(action="/login" method="post")
        div(class="form-group")
          label(for="username") Username
          input(class="form-control" type="text",name="username" placeholder="Username" autofocus)
        div(class="form-group")    
          label(for="password") Password
          input(class="form-control" type="password",name="password" placeholder="Password")
        div(class="form-group")  
          div
            a(href="/about") About this page
          div(class="text-right")
            label(class="form-check-label") Remember me 
              input(type="checkbox") 
        div(class="form-group")
          div(class="text-right")
            input(class="btn btn-primary" type="submit" value="Sign in")